*~
btr+*
Makefile.in
aclocal.m4
autom4te.cache/
configure
install-sh
missing
Makefile
config.log
config.status
config.cache
btr-?.?.*
bin/btr-setsid
bin/btrd
compile
depcomp
*.o
.deps
share/btr/common.sh
share/btr/opt.awk
